{{#each articles}}
    <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <a href="{{url}}"><i class="material-icons">link</i></a>
      </div>
      <div class="mdl-card__media">
        <img src="http://via.placeholder.com/419x150" alt="article_image">
      </div>
      <div class="mdl-card__supporting-text">
        {{headline}}
      </div>
      <div class="mdl-card__actions">
        <form class="articleForm" id="formValidate" action="/comment/{{id}}" method="post">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="comment" id="comment">
            <label class="mdl-textfield__label" for="comment">Enter Comment</label>
          </div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent"
                  id="save-comment">
            Save Comment
          </button>
        </form>
      </div>
      <!-- If there are comments for this article, then show them here. -->
      {{#if comments}}
      <div class="mdl-card__supporting-text">
        <ul class=mdl-list>
          {{#each comments}}
            <li class="mdl-list_item">{{post}}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
{{/each}}
